<div class="card text-center">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <% @courses.each do |course| %>
    <h4 class="card-title"><%= course.name %></h4>
    <h5 class="card-text"><%= course.course_type %></h5>
    <h5 class="card-text"><%= course.start_date %></h5>
    <h5 class="card-text"><%= course.end_date %></h5>

<<<<<<< HEAD
    <a href="/courses/<%= course.course_id %>" class="btn btn-primary">View</a>

    <br>
    <br>

    <hr>
=======
    <a href="/courses/<%= course.course_id %>" class="btn btn-primary"><%= course.name %></a>
>>>>>>> student_records
    <% end %>
  </div>
  <div class="card-footer text-muted">

  </div>
</div>
