<form class="" action="/courses/<%= @course.course_id %>" method="post">
  <a class="btn btn-primary" href="/students/new">Add Student</a>
  <a class="btn btn-primary" href="">Edit Attendance</a>

  <input class="btn btn-primary" type="hidden" name="_method" value="delete">
  <input class="btn btn-primary" type="submit" value="Remove Course">
</form>
<hr>
<div class="">
  <% puts @todaysAttendance %>
  <ul>
    <% @course_attendance.each do |student_status|%>
    <form action="/courses/<%= @course.course_id %>" method="post">
      <div class="form-group">
        <input type="hidden" name="student_id" value="<%= student_status.student_id %>">
      </div>
      <div class="form-group">
        <label>Name</label>
        <h4><%= student_status.first_name %> <%= student_status.last_name %></h4>
      </div>
      <div class="form-group">
        <label>Date</label>
        <input type="date" name="attendance_date" value="<%= Date.today %>">
      </div>
      <div class="form-group">
        <label>Status</label>
        <select class="form-control" name="status">
          <!-- Below is the autofill that doesnt work, use  "selected = "selected" -->
          <option>On Time</option>
          <option>Slightly late(5 minutes)</option>
          <option>Very late(over 30 minutes)</option>
          <option>Absent</option>
          <option selected="selected">Authorized Absence</option>
        </select>
      </div>
      <div class="form-group">
        <label>Description</label>
        <textarea class="form-control" name="description">
        </textarea>
      </div>
      <div class="form-group">
        <input type="submit" value="Save Attendance">
      </div>
    </form>
    <% end %>
  </ul>
</div>
