<!-- dispplays individual student attendance record -->
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Attendance Status</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <% @attendance_record.each do |daily_record| %>
    <tr>
      <td> <%= daily_record.attendance_date %> </td>
      <td> <%= daily_record.status  %></td>
      <td> <%= daily_record.description  %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col"> On Time </th>
      <th scope="col"> Slightly Late </th>
      <th scope="col"> Very Late </th>
      <th scope="col"> Absent </th>
      <th scope="col"> Authorized Absence </th>
    </tr>
  </thead>
  <tbody>
    <% @attendance_record.each do |daily_record| %>
      OT = 0
      SL = 0
      VL = 0
      A = 0
      AA = 0

      case daily_record.status
      when 'On Time'
        OT++
      when 'less than 5 mins late'
        SL++
      when 'more than 5 mins late'
        VL++
      when 'Absent'
        A++
      when 'Authorised Absence'
        AA++
      end
    <tr>
      <td><%= OT + '%' %></td>
      <td><%= SL + '%' %></td>
      <td><%= VL + '%' %></td>
      <td><%= A + '%' %></td>
      <td><%= AA + '%' %></td>
    </tr>
    <% end %>
  </tbody>
</table>
